<!DOCTYPE html>
<html lang="ja">
<head>
  <title>論文概要まとめ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>論文概要まとめ</h1>
  <p>論文の読んだ内容から要点をまとめ，集計するためのソフト</p> 
</div>
  
<div class="container">
  <div class="row">
    {% for category in categories: %}
    <div class="col-sm-4 border">
      <h3>{{ category }}</h3>
      <!-- {% for article in category.articles: %}
        <li><a href="{{ url_for('show_article', category=category.category_name, article=article[:-3]) }}">{{ article[:-3] }}</a></li>
      {% endfor %} -->
      <li>sample</li>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>
